{% extends 'base.html' %} {% block title %}Home Page{% endblock %} {% block
content %}
<section
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 2rem;

    color: black;
  "
>
  <h1 class="display-4 fw-bold mb-3">Hola, I'm Alberto Valtierra Jr</h1>
  <p class="lead mb-4">
    Freelance services tailored to businesses and technical expertise for
    recruiters—your goals, my commitment.
  </p>
  <div>
    <a
      href="/projects"
      class="btn btn-primary btn-lg mb-2 me-md-2"
      style="width: 100%; max-width: 300px"
    >
      I’m a Business – Let’s Build Something
    </a>
    <a
      href="/projects"
      class="btn btn-primary btn-lg mb-2 me-md-2"
      style="width: 100%; max-width: 300px"
    >
      I’m a Recruiter – View My Portfolio
    </a>
  </div>
</section>

<section>
  <h2
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      padding: 2rem;
    "
  >
    About me
  </h2>
</section>
{% endblock %}
